<h1>Users</h1>

<%= link_to 'Add New User', new_user_path, class: 'button' %>

<table>
  <thead>
    <tr>
      <% User.attribute_names.each do |attr| %>
        <th><%= attr.titleize %></th>
      <% end %>
      <th>Show Button</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <% User.attribute_names.each do |attr| %>
          <td><%= user.send(attr) %></td>
        <% end %>
        <td><%= link_to 'Show', user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
