<h1>Chats</h1>

<%= link_to 'Add New Chat', new_chat_path, class: 'button' %>

<table>
  <thead>
    <tr>
      <% Chat.attribute_names.each do |attr| %>
        <th><%= attr.titleize %></th>
      <% end %>
      <th>Show Button</th>
    </tr>
  </thead>

  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <% Chat.attribute_names.each do |attr| %>
          <td><%= chat.send(attr) %></td>
        <% end %>
        <td><%= link_to 'Show', chat_path(chat) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
